n8n/nomaad-quote-workflow.json
{
  "name": "NOMAAD Quote → PDF → Email",
  "nodes": [
    {
      "parameters": {
        "content": "## NOMAAD Camp · Quote → PDF → Email\n\n**Setup checklist (do this once after import):**\n\n1. **Webhook** node — copy the production URL and paste it into `main.js` (`N8N_WEBHOOK_URL`).\n2. **Sheets · Read counter** + **Sheets · Append log** — connect a Google Sheets credential, point to a sheet named **NOMAAD Quote Log** with columns A–Q (see SETUP.md).\n3. **HTTP · Browserless** — replace `YOUR_BROWSERLESS_TOKEN` in the URL with your real token from browserless.io.\n4. **Gmail · Customer** + **Gmail · Internal** — connect a Gmail credential. Update the internal recipients (BCC).\n5. Activate the workflow.\n\n**Test:** submit a real quote on nomaadcamp.com — the PDF should arrive in the customer inbox + the team gets a notification."
      },
      "id": "828820be-ed6d-4986-9fda-3b28612997a8",
      "name": "📋 Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nomaad-quote",
        "responseMode": "onReceived",
        "options": {
          "rawBody": false
        }
      },
      "id": "f282ce51-d234-45e8-923e-e721d8f7b8f9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "06a49514-0a49-4b7f-b226-de76147130b9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Quote Log"
        },
        "operation": "read",
        "options": {
          "returnFirstMatch": false
        }
      },
      "id": "82dabd2b-eb9b-4f30-9e1c-3d10fd0a5869",
      "name": "Sheets · Read counter",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads the Quote Log sheet so the Code node can compute the next quote number. Map credentials after import."
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// NOMAAD Camp · Quote PDF Renderer\n// ════════════════════════════════════════════════════════\n// Receives the urlencoded webhook payload from main.js and\n// outputs:\n//   $json.html              — fully populated HTML for Browserless\n//   $json.quote_number      — NC-2026-NNNN (sequential)\n//   $json.pdf_filename      — quote_number_company.pdf\n//   $json.summary_for_email — customer email body\n//   $json.internal_summary  — internal team notification\n//   $json.customer_email_html — pre-rendered customer email\n// ════════════════════════════════════════════════════════\n\nconst TEMPLATE = `<!DOCTYPE html>\n<html lang=\"mn\">\n<head>\n<meta charset=\"UTF-8\">\n<title>NOMAAD Camp · Үнийн санал {{quote_number}}</title>\n<style>\n  @page { size: A4; margin: 12mm 14mm; }\n\n  * { box-sizing: border-box; }\n  html, body { margin: 0; padding: 0; }\n  body {\n    font-family: 'Helvetica Neue', 'Arial', 'Inter', sans-serif;\n    color: #1F2A23;\n    font-size: 11px;\n    line-height: 1.55;\n    background: #FFFFFF;\n    -webkit-print-color-adjust: exact;\n    print-color-adjust: exact;\n  }\n  .doc {\n    position: relative;\n    width: 100%;\n    overflow: hidden;\n  }\n  .watermark {\n    position: absolute;\n    top: 50%; left: 50%;\n    transform: translate(-50%, -50%) rotate(-30deg);\n    font-size: 110px;\n    font-weight: 500;\n    letter-spacing: 12px;\n    color: #F1EFE8;\n    opacity: 0.35;\n    pointer-events: none;\n    z-index: 0;\n    user-select: none;\n  }\n  .body { position: relative; z-index: 1; }\n\n  .strip { height: 5px; background: #3B5236; position: relative; }\n  .strip__accent {\n    position: absolute; top: 0; left: 0;\n    height: 5px; width: 70px; background: #C8A878;\n  }\n  .strip--bottom .strip__accent { left: auto; right: 0; }\n\n  .header { padding: 22px 0 0; display: flex; justify-content: space-between; align-items: flex-start; }\n  .brand { display: flex; align-items: center; gap: 14px; }\n  .brand__mark {\n    width: 56px; height: 56px;\n    background: #3B5236;\n    color: #FFFFFF;\n    display: flex; align-items: center; justify-content: center;\n    font-size: 22px; font-weight: 500;\n    border-radius: 4px;\n    position: relative;\n  }\n  .brand__mark::after {\n    content: ''; position: absolute; bottom: 4px; right: 6px;\n    width: 6px; height: 6px; border-radius: 50%; background: #C8A878;\n  }\n  .brand__name { font-size: 17px; font-weight: 500; letter-spacing: 1.5px; color: #1F2A23; }\n  .brand__tagline { font-size: 8.5px; color: #C8A878; letter-spacing: 2px; margin-top: 3px; }\n  .brand__sub { font-size: 8.5px; color: #888780; letter-spacing: 0.8px; margin-top: 3px; }\n\n  .doc-title { text-align: right; }\n  .doc-title__main { font-size: 24px; font-weight: 500; letter-spacing: 4px; color: #1F2A23; }\n  .doc-title__en { font-size: 8.5px; color: #888780; letter-spacing: 2px; margin-top: 4px; }\n\n  .meta-row { display: flex; justify-content: space-between; gap: 24px; align-items: flex-start; margin-top: 16px; }\n  .meta-issuer { font-size: 9.5px; color: #5F5E5A; line-height: 1.7; }\n  .meta-issuer__name { font-weight: 500; color: #1F2A23; font-size: 10.5px; margin-bottom: 1px; }\n  .meta-table { font-size: 9.5px; line-height: 1.8; border-collapse: collapse; }\n  .meta-table td { padding: 0 0 0 12px; }\n  .meta-table .lbl { color: #888780; padding: 0 12px 0 0; text-align: right; }\n  .meta-table .val { font-weight: 500; }\n  .meta-table .val--mono { font-variant-numeric: tabular-nums; font-weight: 500; }\n\n  .divider { margin-top: 18px; }\n  .divider__line { height: 1px; background: #1F2A23; }\n  .divider__accent { height: 2px; background: #C8A878; width: 56px; }\n\n  .summary {\n    background: #FAF8F2;\n    padding: 14px 16px;\n    border-radius: 4px;\n    border-left: 3px solid #C8A878;\n    margin-top: 18px;\n  }\n  .summary__title { font-size: 8.5px; color: #888780; letter-spacing: 2px; margin-bottom: 6px; }\n  .summary__body { font-size: 10.5px; line-height: 1.7; color: #1F2A23; }\n  .summary__total { color: #B14F1F; font-weight: 500; }\n\n  .info-grid { display: flex; gap: 28px; margin-top: 16px; }\n  .info-col { flex: 1; }\n  .info-col__title { font-size: 8.5px; color: #888780; letter-spacing: 2px; margin-bottom: 6px; }\n  .info-col__name { font-weight: 500; font-size: 13px; }\n  .info-col__line { color: #5F5E5A; font-size: 11px; line-height: 1.7; }\n  .info-col__line--mono { font-variant-numeric: tabular-nums; }\n  .info-col__contact { margin-top: 6px; }\n  .info-col__table { font-size: 10.5px; line-height: 1.8; width: 100%; }\n  .info-col__table td.k { color: #888780; width: 86px; }\n  .info-col__table td.v { font-weight: 500; }\n  .info-col__table td.v--mono { font-variant-numeric: tabular-nums; }\n\n  table.lines { width: 100%; border-collapse: collapse; margin-top: 22px; font-size: 10.5px; }\n  table.lines thead th {\n    background: #1F2A23; color: #F2F1EC;\n    text-align: left; padding: 9px 12px;\n    font-weight: 500; font-size: 8.5px; letter-spacing: 1.3px;\n  }\n  table.lines th.qty, table.lines th.unit, table.lines th.amt { text-align: right; }\n  table.lines th.qty { width: 46px; }\n  table.lines th.unit { width: 88px; }\n  table.lines th.amt { width: 100px; }\n\n  table.lines tr.section td {\n    padding: 12px 0 5px;\n    font-size: 8.5px; color: #888780; letter-spacing: 1.6px;\n    border-bottom: 1px solid #1F2A23;\n  }\n  table.lines tr.line td { padding: 10px 12px; vertical-align: top; border-bottom: 0.5px solid #E8E2D2; }\n  table.lines tr.line td.qty,\n  table.lines tr.line td.unit,\n  table.lines tr.line td.amt { text-align: right; font-variant-numeric: tabular-nums; }\n  table.lines tr.line td.amt { font-weight: 500; }\n  table.lines tr.line .name { font-weight: 500; font-size: 11px; }\n  table.lines tr.line .desc { color: #888780; font-size: 9px; margin-top: 2px; line-height: 1.55; }\n  table.lines tr.line .inclusions {\n    color: #5F5E5A; font-size: 9.5px; line-height: 1.85; margin-top: 6px;\n  }\n  table.lines tr.line .inclusions .check { color: #3B5236; }\n\n  .totals { display: flex; justify-content: flex-end; margin-top: 16px; }\n  .totals__box { width: 280px; font-size: 10.5px; }\n  .totals__row { display: flex; justify-content: space-between; padding: 4px 0; color: #5F5E5A; }\n  .totals__row .v { font-variant-numeric: tabular-nums; }\n  .totals__vat { color: #888780; font-size: 9.5px; border-top: 0.5px dashed #C8A878; margin-top: 4px; padding-top: 6px; }\n  .totals__grand {\n    display: flex; justify-content: space-between; align-items: baseline;\n    padding: 12px 14px; margin-top: 8px;\n    background: #1F2A23; color: #F2F1EC;\n    border-radius: 2px;\n  }\n  .totals__grand .lbl { font-size: 10.5px; letter-spacing: 1.5px; }\n  .totals__grand .v { font-size: 15px; font-variant-numeric: tabular-nums; font-weight: 500; }\n\n  .anchor {\n    margin-top: 18px;\n    background: #FAF8F2;\n    border: 1px solid #C8A878;\n    border-radius: 6px;\n    padding: 14px 16px;\n  }\n  .anchor__head { display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px; }\n  .anchor__title { font-size: 8.5px; color: #B14F1F; letter-spacing: 1.7px; font-weight: 500; }\n  .anchor__sub { font-size: 8.5px; color: #888780; }\n  .anchor table { width: 100%; font-size: 10px; border-collapse: collapse; }\n  .anchor table td { padding: 3px 0; }\n  .anchor table td.lbl { color: #5F5E5A; }\n  .anchor table td.v { text-align: right; font-variant-numeric: tabular-nums; }\n  .anchor table tr.standalone td.v { color: #A32D2D; }\n  .anchor table tr.package td.v { color: #1F2A23; }\n  .anchor table tr.savings td { padding: 7px 0 0; border-top: 1px solid #C8A878; font-weight: 500; }\n  .anchor table tr.savings td.lbl { color: #1F2A23; }\n  .anchor table tr.savings td.v { color: #1D9E75; font-size: 12px; }\n\n  .pay-grid { display: flex; gap: 28px; margin-top: 18px; }\n  .pay-col { flex: 1; }\n  .pay-col__title { font-size: 8.5px; color: #888780; letter-spacing: 2px; margin-bottom: 6px; }\n  .pay-col__table { font-size: 10px; line-height: 1.85; width: 100%; }\n  .pay-col__table td.k { color: #888780; width: 96px; vertical-align: top; padding-right: 6px; }\n  .pay-col__table td.v { font-weight: 500; }\n  .pay-col__table td.v--mono { font-variant-numeric: tabular-nums; }\n  .pay-col__table .sub { font-weight: 400; font-size: 9.5px; color: #5F5E5A; }\n\n  .terms { margin-top: 18px; }\n  .terms__title { font-size: 8.5px; color: #888780; letter-spacing: 2px; margin-bottom: 6px; }\n  .terms ol { margin: 0; padding-left: 16px; font-size: 9.5px; line-height: 1.7; color: #444441; }\n\n  .contact { margin-top: 18px; }\n  .contact__title { font-size: 8.5px; color: #888780; letter-spacing: 2px; margin-bottom: 8px; }\n  .contact__grid { display: flex; gap: 12px; }\n  .contact__card {\n    flex: 1;\n    background: #FAF8F2;\n    border-left: 2px solid #C8A878;\n    border-radius: 3px;\n    padding: 11px;\n  }\n  .contact__card--ceo { border-left-color: #3B5236; }\n  .contact__role { font-size: 8.5px; color: #888780; letter-spacing: 1px; }\n  .contact__name { font-size: 10.5px; font-weight: 500; margin-top: 3px; }\n  .contact__phone { font-size: 9.5px; color: #5F5E5A; font-variant-numeric: tabular-nums; margin-top: 3px; }\n\n  .signatures { display: flex; gap: 28px; margin-top: 22px; }\n  .sig-col { flex: 1; }\n  .sig-col__top { border-top: 1px solid #1F2A23; padding-top: 8px; }\n  .sig-col__title { font-size: 8.5px; color: #888780; letter-spacing: 2px; }\n  .sig-col__lines { font-size: 9.5px; color: #444441; margin-top: 14px; line-height: 1.85; min-height: 78px; }\n  .sig-col__caption { font-size: 8.5px; color: #888780; margin-top: 6px; letter-spacing: 0.5px; }\n  .sig-col__prepared { display: flex; gap: 12px; margin-top: 12px; align-items: flex-start; }\n  .sig-col__prepared-info { flex: 1; font-size: 10.5px; line-height: 1.65; }\n  .sig-col__prepared-info .name { font-weight: 500; }\n  .sig-col__prepared-info .role { color: #5F5E5A; }\n  .sig-col__prepared-info .phone { color: #5F5E5A; font-variant-numeric: tabular-nums; margin-top: 3px; }\n  .sig-col__stamp {\n    width: 84px; height: 84px;\n    border: 1px dashed #C8A878;\n    border-radius: 4px;\n    display: flex; align-items: center; justify-content: center;\n    font-size: 7.5px; color: #C8A878; text-align: center; line-height: 1.4;\n    flex-shrink: 0;\n  }\n\n  .footer { text-align: center; margin-top: 24px; padding-top: 12px; border-top: 0.5px solid #E8E2D2; }\n  .footer__brand { font-size: 8.5px; color: #888780; letter-spacing: 2.5px; }\n  .footer__meta { font-size: 8.5px; color: #B4B2A9; margin-top: 4px; }\n\n  .strip--bottom { margin-top: 16px; }\n</style>\n</head>\n<body>\n<div class=\"doc\">\n  <div class=\"watermark\">NOMAAD</div>\n  <div class=\"body\">\n\n    <div class=\"strip\"><div class=\"strip__accent\"></div></div>\n\n    <div class=\"header\">\n      <div class=\"brand\">\n        <div class=\"brand__mark\">N</div>\n        <div>\n          <div class=\"brand__name\">NOMAAD CAMP</div>\n          <div class=\"brand__tagline\">ENTER THE MOMENT</div>\n          <div class=\"brand__sub\">КОРПОРАТ АРГА ХЭМЖЭЭНИЙ НЭГДСЭН ШИЙДЭЛ</div>\n        </div>\n      </div>\n      <div class=\"doc-title\">\n        <div class=\"doc-title__main\">ҮНИЙН САНАЛ</div>\n        <div class=\"doc-title__en\">QUOTATION</div>\n      </div>\n    </div>\n\n    <div class=\"meta-row\">\n      <div class=\"meta-issuer\">\n        <div class=\"meta-issuer__name\">Чимун ХХК</div>\n        <div>Регистрийн дугаар: 6614337</div>\n        <div>БЗД, 11-р хороо, Ногоон зоорь 1-13</div>\n        <div>Утас: +976 7700-6790</div>\n        <div>Имэйл: hello@nomaadglobal.com</div>\n        <div>nomaadcamp.com</div>\n      </div>\n      <table class=\"meta-table\">\n        <tr><td class=\"lbl\">Дугаар</td><td class=\"val val--mono\">{{quote_number}}</td></tr>\n        <tr><td class=\"lbl\">Огноо</td><td class=\"val val--mono\">{{issue_date}}</td></tr>\n        <tr><td class=\"lbl\">Хүчинтэй</td><td class=\"val val--mono\">{{valid_until}} хүртэл</td></tr>\n        <tr><td class=\"lbl\">Валют</td><td class=\"val\">MNT · ₮</td></tr>\n      </table>\n    </div>\n\n    <div class=\"divider\">\n      <div class=\"divider__line\"></div>\n      <div class=\"divider__accent\"></div>\n    </div>\n\n    <div class=\"summary\">\n      <div class=\"summary__title\">ТАНИЛЦУУЛГА</div>\n      <div class=\"summary__body\">\n        <strong>{{company}}-ийн {{guests}} хүний {{duration_label}} корпорат арга хэмжээнд зориулсан</strong>\n        {{camp}} кемпийн {{tier}} багц{{addons_summary_clause}}{{shuttle_summary_clause}} <strong>иж бүрэн шийдэл</strong>.\n        Нийт төлбөр <strong class=\"summary__total\">{{grand_total_fmt}}₮</strong> ·\n        30% урьдчилгаагаар захиалга баталгаажна. Үнэ НӨАТ багтсан.\n      </div>\n    </div>\n\n    <div class=\"info-grid\">\n      <div class=\"info-col\">\n        <div class=\"info-col__title\">ҮЙЛЧЛҮҮЛЭГЧ</div>\n        <div class=\"info-col__name\">{{company}}</div>\n        <div class=\"info-col__line info-col__line--mono\">Регистрийн дугаар: {{customer_tax_id}}</div>\n        <div class=\"info-col__contact\">Холбоо барих хүн: {{contact_name}}</div>\n        <div class=\"info-col__line info-col__line--mono\">Утас: {{phone}}</div>\n        <div class=\"info-col__line\">Имэйл: {{email}}</div>\n      </div>\n      <div class=\"info-col\">\n        <div class=\"info-col__title\">АРГА ХЭМЖЭЭ</div>\n        <table class=\"info-col__table\">\n          <tr><td class=\"k\">Кемп</td><td class=\"v\">{{camp}}</td></tr>\n          <tr><td class=\"k\">Багц</td><td class=\"v\">{{tier}}</td></tr>\n          <tr><td class=\"k\">Хүний тоо</td><td class=\"v v--mono\">{{guests}}</td></tr>\n          <tr><td class=\"k\">Эхлэх огноо</td><td class=\"v v--mono\">{{start_display}}</td></tr>\n          <tr><td class=\"k\">Дуусах огноо</td><td class=\"v v--mono\">{{end_display}}</td></tr>\n          <tr><td class=\"k\">Хугацаа</td><td class=\"v\">{{duration_label}}</td></tr>\n        </table>\n      </div>\n    </div>\n\n    <table class=\"lines\">\n      <thead>\n        <tr>\n          <th>ҮЙЛЧИЛГЭЭ</th>\n          <th class=\"qty\">ТОО</th>\n          <th class=\"unit\">НЭГЖ ҮНЭ</th>\n          <th class=\"amt\">ДҮН</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr class=\"section\"><td colspan=\"4\">ҮНДСЭН БАГЦ</td></tr>\n        <tr class=\"line\">\n          <td>\n            <div class=\"name\">{{camp}} · {{tier}} багц</div>\n            <div class=\"inclusions\">{{inclusions_html}}</div>\n          </td>\n          <td class=\"qty\">{{guests}}</td>\n          <td class=\"unit\">{{tier_base_price_fmt}}</td>\n          <td class=\"amt\">{{tier_subtotal_fmt}}</td>\n        </tr>\n\n        {{addon_section_html}}\n\n        {{shuttle_section_html}}\n      </tbody>\n    </table>\n\n    <div class=\"totals\">\n      <div class=\"totals__box\">\n        <div class=\"totals__row\"><span>Үндсэн багц</span><span class=\"v\">{{tier_subtotal_fmt}}</span></div>\n        <div class=\"totals__row\"><span>Нэмэлт үйлчилгээ</span><span class=\"v\">{{addons_subtotal_fmt}}</span></div>\n        <div class=\"totals__row\"><span>Тээврийн үйлчилгээ</span><span class=\"v\">{{shuttle_subtotal_fmt}}</span></div>\n        <div class=\"totals__row totals__vat\"><span>НӨАТ 10% (багтсан)</span><span class=\"v\">{{vat_included_fmt}}</span></div>\n        <div class=\"totals__grand\"><span class=\"lbl\">НИЙТ ДҮН</span><span class=\"v\">{{grand_total_fmt}} ₮</span></div>\n      </div>\n    </div>\n\n    {{value_anchor_html}}\n\n    <div class=\"pay-grid\">\n      <div class=\"pay-col\">\n        <div class=\"pay-col__title\">ТӨЛБӨРИЙН НӨХЦӨЛ</div>\n        <table class=\"pay-col__table\">\n          <tr><td class=\"k\">Урьдчилгаа</td><td class=\"v\">30% · {{deposit_30_fmt}}₮<br><span class=\"sub\">захиалга баталгаажих өдөр</span></td></tr>\n          <tr><td class=\"k\">Үлдэгдэл</td><td class=\"v\">70% · {{balance_70_fmt}}₮<br><span class=\"sub\">арга хэмжээний 7 хоногийн өмнө</span></td></tr>\n          <tr><td class=\"k\">Төлбөрийн хэлбэр</td><td class=\"v\">Дансаар шилжүүлэг</td></tr>\n        </table>\n      </div>\n      <div class=\"pay-col\">\n        <div class=\"pay-col__title\">ТӨЛБӨРИЙН ДАНС</div>\n        <table class=\"pay-col__table\">\n          <tr><td class=\"k\">Банк</td><td class=\"v\">Голомт банк</td></tr>\n          <tr><td class=\"k\">Дансны дугаар</td><td class=\"v v--mono\">3635185058</td></tr>\n          <tr><td class=\"k\">IBAN</td><td class=\"v v--mono\" style=\"font-size: 9.5px;\">MN77 0015 0036 3518 5058</td></tr>\n          <tr><td class=\"k\">Дансны эзэмшигч</td><td class=\"v\">Чимун ХХК</td></tr>\n          <tr><td class=\"k\">Регистрийн дугаар</td><td class=\"v v--mono\">6614337</td></tr>\n          <tr><td class=\"k\">Гүйлгээний утга</td><td class=\"v\" style=\"font-size: 9.5px;\">{{quote_number}} урьдчилгаа</td></tr>\n        </table>\n      </div>\n    </div>\n\n    <div class=\"terms\">\n      <div class=\"terms__title\">НӨХЦӨЛ</div>\n      <ol>\n        <li>Үнэ НӨАТ багтсан. Захиалга 30% урьдчилгаа төлөгдсөнөөр баталгаажна.</li>\n        <li>Цуцлалт: 14+ хоногийн өмнө 100% буцаалт; 7–13 хоногт 50%; 7 хоногоос дотор буцаалтгүй.</li>\n        <li>Цаг агаар, гамшгийн нөхцөлд хугацааг шилжүүлэх боломжтой.</li>\n        <li>M EVENT-ээс нэмэлт тоног төхөөрөмж захиалбал NOMAAD захиалагчдад 20% хөнгөлөлт.</li>\n        <li>Үнийн санал нь хүчинтэй хугацаанд гарын үсэг зурснаар хүлээн зөвшөөрөгдсөнд тооцно.</li>\n      </ol>\n    </div>\n\n    <div class=\"contact\">\n      <div class=\"contact__title\">ХОЛБОО БАРИХ</div>\n      <div class=\"contact__grid\">\n        <div class=\"contact__card contact__card--ceo\">\n          <div class=\"contact__role\">ЗАХИРАЛ</div>\n          <div class=\"contact__name\">Г. Мөнх-Учрал</div>\n          <div class=\"contact__phone\">+976 8800-6790</div>\n        </div>\n        <div class=\"contact__card\">\n          <div class=\"contact__role\">МЕНЕЖЕР</div>\n          <div class=\"contact__name\">Б. Дэлгэрбат</div>\n          <div class=\"contact__phone\">+976 9917-9417</div>\n        </div>\n        <div class=\"contact__card\">\n          <div class=\"contact__role\">МЕНЕЖЕР</div>\n          <div class=\"contact__name\">Н. Анужин</div>\n          <div class=\"contact__phone\">+976 8802-8216</div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"signatures\">\n      <div class=\"sig-col\">\n        <div class=\"sig-col__top\">\n          <div class=\"sig-col__title\">ЗАХИАЛАГЧ</div>\n          <div class=\"sig-col__lines\">\n            Нэр: ____________________<br>\n            Албан тушаал: __________<br>\n            Огноо: ___________________\n          </div>\n          <div class=\"sig-col__caption\">Гарын үсэг · Тамга</div>\n        </div>\n      </div>\n      <div class=\"sig-col\">\n        <div class=\"sig-col__top\">\n          <div class=\"sig-col__title\">БЭЛТГЭСЭН</div>\n          <div class=\"sig-col__prepared\">\n            <div class=\"sig-col__prepared-info\">\n              <div class=\"name\">Г. Мөнх-Учрал</div>\n              <div class=\"role\">Захирал</div>\n              <div class=\"role\">NOMAAD Camp · Чимун ХХК</div>\n              <div class=\"phone\">+976 8800-6790</div>\n            </div>\n            <div class=\"sig-col__stamp\">\n              ТАМГА<br>+ ГАРЫН<br>ҮСЭГ\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <div class=\"footer__brand\">NOMAAD CAMP · ENTER THE MOMENT</div>\n      <div class=\"footer__meta\">nomaadcamp.com · {{quote_number}} · 1 / 1</div>\n    </div>\n\n    <div class=\"strip strip--bottom\"><div class=\"strip__accent\"></div></div>\n\n  </div>\n</div>\n</body>\n</html>\n`;\n\nconst CUSTOMER_EMAIL = `<!--\n  NOMAAD Camp · Customer email template\n  -------------------------------------\n  Used in the n8n Gmail node \"To customer\". Variables come from the\n  upstream Code node (quote-pdf-renderer.js).\n\n  Subject line:\n    NOMAAD Camp · Үнийн санал {{quote_number}}\n\n  Variables: {{quote_number}} {{contact_name}} {{company}} {{camp}}\n             {{tier}} {{guests}} {{grand_total_fmt}} {{deposit_30_fmt}}\n             {{valid_until}}\n\n  The PDF (quote_number_company.pdf) is attached separately by the\n  Gmail node — not embedded in this HTML.\n-->\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  body { margin: 0; padding: 0; background: #F8F6F0; font-family: 'Helvetica Neue', Arial, sans-serif; color: #1F2A23; }\n  .wrap { max-width: 580px; margin: 0 auto; padding: 24px 16px; }\n  .card { background: #FFFFFF; border-radius: 6px; overflow: hidden; border: 0.5px solid #E8E2D2; }\n  .strip { height: 5px; background: #3B5236; position: relative; }\n  .strip::after { content: ''; position: absolute; top: 0; left: 0; height: 5px; width: 60px; background: #C8A878; }\n  .head { padding: 24px 28px 12px; }\n  .head__brand { font-size: 14px; font-weight: 500; letter-spacing: 1.5px; color: #1F2A23; }\n  .head__tagline { font-size: 9px; color: #C8A878; letter-spacing: 2px; margin-top: 3px; }\n  .body { padding: 8px 28px 24px; font-size: 14px; line-height: 1.65; color: #1F2A23; }\n  .body p { margin: 12px 0; }\n  .summary { background: #FAF8F2; border-left: 3px solid #C8A878; padding: 14px 16px; border-radius: 4px; margin: 18px 0; font-size: 13px; }\n  .summary__row { display: flex; justify-content: space-between; padding: 3px 0; }\n  .summary__row .lbl { color: #5F5E5A; }\n  .summary__row .val { font-weight: 500; }\n  .summary__total { font-size: 15px; font-weight: 500; color: #B14F1F; padding-top: 8px; border-top: 0.5px solid #E8E2D2; margin-top: 8px; }\n  .cta { background: #1F2A23; color: #FFFFFF; padding: 14px 18px; border-radius: 4px; margin: 20px 0; font-size: 13px; line-height: 1.65; }\n  .cta__title { font-weight: 500; color: #C8A878; letter-spacing: 1px; font-size: 11px; margin-bottom: 6px; }\n  .footer { padding: 18px 28px; background: #FAF8F2; border-top: 0.5px solid #E8E2D2; font-size: 11px; color: #5F5E5A; line-height: 1.65; }\n  .footer a { color: #3B5236; text-decoration: none; }\n  .small { font-size: 11px; color: #888780; }\n</style>\n</head>\n<body>\n<div class=\"wrap\">\n  <div class=\"card\">\n    <div class=\"strip\"></div>\n    <div class=\"head\">\n      <div class=\"head__brand\">NOMAAD CAMP</div>\n      <div class=\"head__tagline\">ENTER THE MOMENT</div>\n    </div>\n    <div class=\"body\">\n      <p>Сайн байна уу, <strong>{{contact_name}}</strong>,</p>\n\n      <p>{{company}}-ийн арга хэмжээнд хүсэлт гаргасанд таньд баярлалаа. Та бүхэнд зориулсан үнийн саналыг хавсаргасан PDF файлаар илгээж байна.</p>\n\n      <div class=\"summary\">\n        <div class=\"summary__row\"><span class=\"lbl\">Үнийн саналын дугаар</span><span class=\"val\">{{quote_number}}</span></div>\n        <div class=\"summary__row\"><span class=\"lbl\">Кемп</span><span class=\"val\">{{camp}}</span></div>\n        <div class=\"summary__row\"><span class=\"lbl\">Багц</span><span class=\"val\">{{tier}} · {{guests}} хүн</span></div>\n        <div class=\"summary__row summary__total\"><span>Нийт төлбөр</span><span>{{grand_total_fmt}}₮</span></div>\n      </div>\n\n      <div class=\"cta\">\n        <div class=\"cta__title\">ЗАХИАЛГА БАТАЛГААЖУУЛАХ</div>\n        Урьдчилгаа <strong>30% — {{deposit_30_fmt}}₮</strong> төлөгдсөнөөр захиалга баталгаажна.<br>\n        Дансны мэдээллийг хавсаргасан PDF дотроос харна уу.\n      </div>\n\n      <p>Үнийн санал <strong>{{valid_until}} хүртэл</strong> хүчинтэй. Энэ хугацаанд лавлах асуулт байвал чөлөөтэй бичээрэй эсвэл утсаар холбогдоорой.</p>\n\n      <p>Хүндэтгэсэн,<br>\n      <strong>NOMAAD Camp</strong></p>\n    </div>\n    <div class=\"footer\">\n      <strong>Чимун ХХК</strong> · Регистрийн дугаар 6614337<br>\n      Утас: +976 7700-6790 · Имэйл: <a href=\"mailto:hello@nomaadglobal.com\">hello@nomaadglobal.com</a><br>\n      <a href=\"https://nomaadcamp.com\">nomaadcamp.com</a>\n      <p class=\"small\">Энэ имэйл нь {{quote_number}} үнийн саналд зориулсан автомат мэдэгдэл юм.</p>\n    </div>\n  </div>\n</div>\n</body>\n</html>\n`;\n\nconst p = $input.item.json;\nconst num = (v, d = 0) => { if (v == null || v === '') return d; const n = Number(v); return Number.isFinite(n) ? n : d; };\nconst str = (v, d = '') => (v == null) ? d : String(v).trim();\n\nconst guests          = num(p.guest_count);\nconst tierBasePrice   = num(p.tier_base_price);\nconst tierSubtotal    = num(p.tier_subtotal);\nconst addonsSubtotal  = num(p.addons_subtotal);\nconst shuttleSubtotal = num(p.shuttle_subtotal);\nconst shuttleUnit     = num(p.shuttle_unit_price);\nconst busCount        = num(p.bus_count, 1);\nconst grandTotal      = num(p.grand_total);\nconst vatIncluded     = num(p.vat_included);\nconst deposit30       = num(p.deposit_30);\nconst balance70       = num(p.balance_70);\n\nconst company         = str(p.company);\nconst customerTaxId   = str(p.customer_tax_id) || '—';\nconst contactName     = str(p.contact_name);\nconst phone           = str(p.phone);\nconst email           = str(p.email);\nconst camp            = str(p.camp_name) || str(p.camp);\nconst tier            = str(p.package_tier) || str(p.tier);\nconst visualFeature   = str(p.visual_feature);\nconst startDt         = str(p.start_datetime);\nconst endDt           = str(p.end_datetime);\nconst durationLabel   = str(p.duration_label) || '—';\nconst shuttleLabel    = str(p.shuttle_service);\n\nconst tierInclusions = (() => { try { return JSON.parse(str(p.tier_inclusions_json) || '[]'); } catch (_) { return []; } })();\nconst addons         = (() => { try { return JSON.parse(str(p.addons_json) || '[]'); } catch (_) { return []; } })();\nconst valueAnchor    = (() => { try { return JSON.parse(str(p.value_anchor_json) || 'null'); } catch (_) { return null; } })();\n\nconst fmt = n => Number(n).toLocaleString('en-US');\nfunction fmtDateTime(s) {\n  if (!s) return '—';\n  const m = s.match(/(\\d{4})-(\\d{2})-(\\d{2})(?:T(\\d{2}):(\\d{2}))?/);\n  if (!m) return s;\n  const [, y, mo, d, hh, mm] = m;\n  const time = (hh && mm) ? ' · ' + hh + ':' + mm : '';\n  return `${y}.${mo}.${d}${time}`;\n}\nfunction fmtDateOnly(s) { const m = (s||'').match(/(\\d{4})-(\\d{2})-(\\d{2})/); return m ? `${m[1]}.${m[2]}.${m[3]}` : s; }\n\n// ── Quote number ────────────────────────────────────────\n// Reads the latest counter from the upstream Sheets node if present,\n// otherwise falls back to a minutes-of-year hash so testing still works.\nlet counter = num(p.next_counter, 0);\nif (counter <= 0) {\n  const now = new Date();\n  const start = new Date(now.getFullYear(), 0, 1);\n  counter = Math.floor((now - start) / 60000) % 10000;\n}\nconst year = new Date().getFullYear();\nconst quoteNumber = `NC-${year}-${String(counter).padStart(4, '0')}`;\n\nconst today = new Date();\nconst issueDate = `${today.getFullYear()}.${String(today.getMonth() + 1).padStart(2, '0')}.${String(today.getDate()).padStart(2, '0')}`;\nconst validUntilDate = new Date(today); validUntilDate.setDate(validUntilDate.getDate() + 14);\nconst validUntil = `${validUntilDate.getFullYear()}.${String(validUntilDate.getMonth() + 1).padStart(2, '0')}.${String(validUntilDate.getDate()).padStart(2, '0')}`;\n\n// ── Inclusion list rendering ───────────────────────────\nfunction inclusionsHtml(labels, drinkChoice) {\n  const baseLine = '<span class=\"check\">✓</span> Майхан кемп · Өглөөний цай · Өдөр болон оройн хоол<br>' +\n                   '<span class=\"check\">✓</span> Тайз, хөгжмийн үндсэн тохижилт · Үндсэн гэрэлтүүлэг';\n  if (!labels || !labels.length) return baseLine;\n  const augmented = labels.map(l => {\n    if (l === 'Welcome drink' && drinkChoice) {\n      const map = { lemon_basil:'Lemon Basil', iced_tea:'Iced Tea', berry:'Berry', sparkling:'Sparkling' };\n      return `Welcome drink (${map[drinkChoice] || drinkChoice})`;\n    }\n    return l;\n  });\n  const rows = [];\n  for (let i = 0; i < augmented.length; i += 3) rows.push(augmented.slice(i, i + 3).join(' · '));\n  return baseLine + '<br>' + rows.map(r => `<span class=\"check\">✓</span> ${r}`).join('<br>');\n}\n\n// ── Add-on rows ────────────────────────────────────────\nconst ADDON_LABEL = {\n  welcome_drink:    ['Welcome drink',                ''],\n  amenity_kit:      ['Зочдын ариун цэврийн багц',   'Сойз, ОО, саван, шампунь'],\n  sleeping_bag:     ['Sleeping bag',                  ''],\n  coffee_corner:    ['Кофе/цайны цэг',               '07:30–09:00'],\n  lunch_upgrade:    ['Өдрийн буфет (сайжруулсан)',  ''],\n  dinner_upgrade:   ['Оройн буфет (сайжруулсан)',   ''],\n  late_snacks:      ['Оройн зууш',                    '22:00–24:00'],\n  dj_service:       ['DJ үйлчилгээ',                  ''],\n  bartender_service:['Bartender үйлчилгээ',          ''],\n  moonbeam_lounge:  ['Moonbeam Lounge',               'Гэрэлтэй коктейль бар'],\n  led_screen_18m2:  ['LED дэлгэц 18м²',              '6м × 3м тайзны дэвсгэр'],\n  photo_4h:         ['Гэрэл зургийн үйлчилгээ',      '4 цаг']\n};\n\nfunction addonRowsHtml(items) {\n  const paid = items.filter(a => !a.tier_included && (a.price || a.unit_price));\n  if (!paid.length) return '';\n  let html = '<tr class=\"section\"><td colspan=\"4\">НЭМЭЛТ ҮЙЛЧИЛГЭЭ</td></tr>';\n  paid.forEach(a => {\n    const meta = ADDON_LABEL[a.code] || [a.name || a.code, ''];\n    let name = meta[0]; let desc = meta[1] || '';\n    let qty = a.quantity || 1; let unit = a.unit_price || 0; let total = a.price || 0;\n    if (a.code === 'dj_service') { desc = `${a.start_time||''}–${a.end_time||''} · ${a.duration||''} цаг`; qty = 1; unit = total; }\n    if (a.code === 'bartender_service') { desc = `3 цаг · ${a.bartender_count || 1} ажилтан`; qty = a.bartender_count || 1; unit = 500000; }\n    if (!unit && qty) unit = total / qty;\n    html += `<tr class=\"line\"><td><div class=\"name\">${name}</div>${desc?`<div class=\"desc\">${desc}</div>`:''}</td><td class=\"qty\">${fmt(qty)}</td><td class=\"unit\">${fmt(Math.round(unit))}</td><td class=\"amt\">${fmt(total)}</td></tr>`;\n  });\n  return html;\n}\n\nfunction shuttleRowsHtml(label, unit, count, subtotal) {\n  if (subtotal <= 0) return '';\n  const cleanLabel = label.replace(/\\s—.*$/, '').replace(/\\s-.*$/, '');\n  return `<tr class=\"section\"><td colspan=\"4\">ТЭЭВРИЙН ҮЙЛЧИЛГЭЭ</td></tr><tr class=\"line\"><td><div class=\"name\">${cleanLabel}</div><div class=\"desc\">45 хүний автобус · УБ ↔ NOMAAD кемп</div></td><td class=\"qty\">${count}</td><td class=\"unit\">${fmt(unit)}</td><td class=\"amt\">${fmt(subtotal)}</td></tr>`;\n}\n\nfunction valueAnchorHtml(va) {\n  if (!va || !va.lines || va.savings <= 0) return '';\n  const rows = va.lines.map(l => `<tr><td class=\"lbl\">${l.label}</td><td class=\"v\">${fmt(l.amount)}</td></tr>`).join('');\n  return `<div class=\"anchor\"><div class=\"anchor__head\"><div class=\"anchor__title\">★ ҮНЭ ЦЭНИЙН ХАРЬЦУУЛАЛТ</div><div class=\"anchor__sub\">${tier} багцын давуу тал</div></div><table>${rows}<tr class=\"standalone\"><td class=\"lbl\">Тус тусдаа авбал нийт</td><td class=\"v\">${fmt(va.standalone_total)} ₮</td></tr><tr class=\"package\"><td class=\"lbl\">${tier} багцаар авбал</td><td class=\"v\">${fmt(va.package_total)} ₮</td></tr><tr class=\"savings\"><td class=\"lbl\">★ Хэмнэлт</td><td class=\"v\">−${fmt(va.savings)} ₮ · ${va.savings_pct}%</td></tr></table></div>`;\n}\n\nconst paidAddonCount = addons.filter(a => !a.tier_included && (a.price || a.unit_price)).length;\nconst addonsClause   = paidAddonCount > 0 ? `, ${paidAddonCount} нэмэлт үйлчилгээ` : '';\nconst shuttleClause  = shuttleSubtotal > 0 ? ` болон ${busCount} автобусны тээврийн үйлчилгээтэй` : '';\n\n// ── Variable substitution ──────────────────────────────\nconst vars = {\n  '{{quote_number}}':         quoteNumber,\n  '{{issue_date}}':           issueDate,\n  '{{valid_until}}':          validUntil,\n  '{{company}}':              company,\n  '{{customer_tax_id}}':      customerTaxId,\n  '{{contact_name}}':         contactName,\n  '{{phone}}':                phone,\n  '{{email}}':                email || '—',\n  '{{camp}}':                 camp,\n  '{{tier}}':                 tier,\n  '{{guests}}':               String(guests),\n  '{{start_display}}':        fmtDateTime(startDt),\n  '{{end_display}}':          fmtDateTime(endDt),\n  '{{duration_label}}':       durationLabel,\n  '{{tier_base_price_fmt}}':  fmt(tierBasePrice),\n  '{{tier_subtotal_fmt}}':    fmt(tierSubtotal),\n  '{{addons_subtotal_fmt}}':  fmt(addonsSubtotal),\n  '{{shuttle_subtotal_fmt}}': fmt(shuttleSubtotal),\n  '{{vat_included_fmt}}':     fmt(vatIncluded),\n  '{{grand_total_fmt}}':      fmt(grandTotal),\n  '{{deposit_30_fmt}}':       fmt(deposit30),\n  '{{balance_70_fmt}}':       fmt(balance70),\n  '{{inclusions_html}}':      inclusionsHtml(tierInclusions, visualFeature.toLowerCase().replace(/\\s/g, '_')),\n  '{{addon_section_html}}':   addonRowsHtml(addons),\n  '{{shuttle_section_html}}': shuttleRowsHtml(shuttleLabel, shuttleUnit, busCount, shuttleSubtotal),\n  '{{value_anchor_html}}':    valueAnchorHtml(valueAnchor),\n  '{{addons_summary_clause}}': addonsClause,\n  '{{shuttle_summary_clause}}': shuttleClause\n};\nlet html = TEMPLATE;\nlet emailHtml = CUSTOMER_EMAIL;\nObject.keys(vars).forEach(k => {\n  const v = vars[k] == null ? '' : String(vars[k]);\n  html = html.split(k).join(v);\n  emailHtml = emailHtml.split(k).join(v);\n});\n\nconst summaryForEmail = `Сайн байна уу ${contactName},\\n\\nТа бүхэнд хүсэлт авсан үнийн саналыг хавсаргалаа.\\n\\n· Кемп: ${camp}\\n· Багц: ${tier} (${guests} хүн)\\n· Хугацаа: ${durationLabel}\\n· Нийт: ${fmt(grandTotal)}₮ (НӨАТ багтсан)\\n· Урьдчилгаа: 30% · ${fmt(deposit30)}₮\\n· Үнийн саналын дугаар: ${quoteNumber}\\n· Хүчинтэй: ${validUntil} хүртэл\\n\\nАсуух зүйл байвал 7700-6790 утсаар холбогдоно уу.\\n\\nNOMAAD Camp · Чимун ХХК`;\n\nconst internalSummary = `🆕 Шинэ үнийн санал ${quoteNumber}\\nКомпани: ${company}${customerTaxId !== '—' ? ' (РД ' + customerTaxId + ')' : ''}\\nХолбоо: ${contactName} · ${phone} · ${email || '—'}\\nКемп: ${camp} · ${tier} · ${guests} хүн · ${durationLabel}\\nОгноо: ${fmtDateOnly(startDt)} → ${fmtDateOnly(endDt)}\\nБагц: ${fmt(tierSubtotal)}₮\\nНэмэлт: ${fmt(addonsSubtotal)}₮ (${paidAddonCount} төрөл)\\nТээвэр: ${fmt(shuttleSubtotal)}₮${busCount > 1 ? ' (' + busCount + ' автобус)' : ''}\\nНИЙТ: ${fmt(grandTotal)}₮\\nУрьдчилгаа 30%: ${fmt(deposit30)}₮${str(p.notes) ? '\\n\\nТэмдэглэл: ' + str(p.notes) : ''}`;\n\nreturn { json: {\n  ...p,\n  quote_number: quoteNumber, issue_date: issueDate, valid_until: validUntil,\n  html: html, customer_email_html: emailHtml,\n  pdf_filename: `${quoteNumber}_${(company||'NOMAAD').replace(/\\s+/g, '-')}.pdf`,\n  summary_for_email: summaryForEmail,\n  internal_summary: internalSummary,\n  email_subject_customer: `NOMAAD Camp · Үнийн санал ${quoteNumber}`,\n  email_subject_internal: `🆕 ${quoteNumber} · ${company} · ${fmt(grandTotal)}₮`,\n  next_counter_value: counter + 1\n}};\n"
      },
      "id": "0085c652-c723-472b-a4af-8c46ab2ff5e8",
      "name": "Code · Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "notes": "Reads max(counter) from Sheets node above, generates NC-YYYY-NNNN, fills the HTML template, and prepares all email bodies. No edit needed unless you change the design."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/pdf?token=YOUR_BROWSERLESS_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.html) }},\n  \"options\": {\n    \"format\": \"A4\",\n    \"printBackground\": true,\n    \"margin\": {\"top\": \"12mm\", \"right\": \"14mm\", \"bottom\": \"12mm\", \"left\": \"14mm\"},\n    \"preferCSSPageSize\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "3e0fc0a2-b4f1-4ea0-8f0f-2da056afc2f7",
      "name": "HTTP · Browserless PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "notes": "Replace YOUR_BROWSERLESS_TOKEN with your token. Free tier covers 1,000 PDF/month."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Quote Log"
        },
        "operation": "append",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "quote_number": "={{ $json.quote_number }}",
            "company": "={{ $json.company }}",
            "customer_tax_id": "={{ $json.customer_tax_id }}",
            "contact_name": "={{ $json.contact_name }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "camp": "={{ $json.camp_name }}",
            "tier": "={{ $json.package_tier }}",
            "guests": "={{ $json.guest_count }}",
            "start_datetime": "={{ $json.start_datetime }}",
            "end_datetime": "={{ $json.end_datetime }}",
            "grand_total": "={{ $json.grand_total }}",
            "deposit_30": "={{ $json.deposit_30 }}",
            "pdf_filename": "={{ $json.pdf_filename }}",
            "notes": "={{ $json.notes }}",
            "counter": "={{ $json.next_counter_value }}"
          }
        },
        "options": {}
      },
      "id": "b138683b-8bb3-4c98-ba93-0c41a6e353cf",
      "name": "Sheets · Append log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.email_subject_customer }}",
        "emailType": "html",
        "message": "={{ $json.customer_email_html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          },
          "replyTo": "hello@nomaadglobal.com"
        }
      },
      "id": "ae0b2f50-e76a-47cc-bed8-ffda71edbf83",
      "name": "Gmail · Customer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "notes": "Wraps the PDF as attachment 'data' (binary from Browserless). Skip if email empty by adding an IF node before."
    },
    {
      "parameters": {
        "sendTo": "gmunkhuchral@gmail.com",
        "ccList": "",
        "bccList": "",
        "subject": "={{ $json.email_subject_internal }}",
        "emailType": "text",
        "message": "={{ $json.internal_summary }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          },
          "replyTo": "={{ $json.email || 'hello@nomaadglobal.com' }}"
        }
      },
      "id": "fc2ed735-c597-4393-a92c-2f7f43799e49",
      "name": "Gmail · Internal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "notes": "Add Б.Дэлгэрбат + Н.Анужин emails to BCC after import."
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sheets · Read counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Read counter": {
      "main": [
        [
          {
            "node": "Code · Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Render HTML": {
      "main": [
        [
          {
            "node": "HTTP · Browserless PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP · Browserless PDF": {
      "main": [
        [
          {
            "node": "Sheets · Append log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Append log": {
      "main": [
        [
          {
            "node": "Gmail · Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail · Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57a9e659-651c-429a-9b36-183e1f7fb432",
  "id": "c733e3fc-7501-4e11-bc63-1c2c20339ed1",
  "tags": []
}