n8n/nomaad-workflow-1-capture.json
{
  "name": "NOMAAD Quote · 1. Capture",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nomaad-quote",
        "responseMode": "onReceived",
        "responseData": "success",
        "options": {}
      },
      "id": "webhook-capture",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "capture-webhook-id"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZaMvJ0DETDsN4D0juZz_1KnVqFpKsxdHDszF7EWQx0M",
          "mode": "list",
          "cachedResultName": "nomaad qoute log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZaMvJ0DETDsN4D0juZz_1KnVqFpKsxdHDszF7EWQx0M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2095008448,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZaMvJ0DETDsN4D0juZz_1KnVqFpKsxdHDszF7EWQx0M/edit#gid=2095008448"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "quote_number": "",
            "company": "={{ $json.company }}",
            "customer_tax_id": "={{ $json.customer_tax_id }}",
            "contact_name": "={{ $json.contact_name }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "camp_name": "={{ $json.camp_name || $json.camp }}",
            "package_tier": "={{ $json.package_tier || $json.tier }}",
            "guest_count": "={{ $json.guest_count }}",
            "start_datetime": "={{ $json.start_datetime }}",
            "end_datetime": "={{ $json.end_datetime }}",
            "grand_total": "={{ $json.grand_total }}",
            "deposit_30": "={{ $json.deposit_30 }}",
            "notes": "={{ $json.notes }}",
            "status": "ШИНЭ",
            "sent_at": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quote_number",
              "displayName": "quote_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_tax_id",
              "displayName": "customer_tax_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "camp_name",
              "displayName": "camp_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "package_tier",
              "displayName": "package_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guest_count",
              "displayName": "guest_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_datetime",
              "displayName": "start_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_datetime",
              "displayName": "end_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deposit_30",
              "displayName": "deposit_30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Sheets · Append raw",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "gmunkhuchral@gmail.com",
        "subject": "={{ \"🆕 NOMAAD · \" + ($json.company || \"Шинэ хүсэлт\") + \" · \" + ($json.grand_total || \"?\") + \"₮\" }}",
        "emailType": "html",
        "message": "={{ `<!DOCTYPE html><html><body style=\"font-family:Helvetica,Arial,sans-serif;background:#F5F1E8;padding:24px;\"><table cellpadding=\"0\" cellspacing=\"0\" width=\"600\" align=\"center\" style=\"background:#fff;border-radius:8px;padding:28px 24px;border-top:3px solid #2E3A28;\"><tr><td><p style=\"font-size:11px;color:#C8A878;letter-spacing:2px;margin:0 0 4px;\">NOMAAD CAMP · INTERNAL</p><h2 style=\"font-size:18px;color:#1F2A23;margin:0 0 16px;\">🆕 Шинэ үнийн саналын хүсэлт</h2><p style=\"font-size:13px;color:#5F5E5A;margin:0 0 16px;\">Google Sheets-д бичигдсэн. Дэлгэрэнгүйг доороос харна уу:</p><table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background:#F5F1E8;border-radius:6px;border-left:3px solid #C8A878;padding:14px 16px;margin:0 0 20px;font-size:13px;line-height:1.7;color:#1F2A23;\"><tr><td><strong>Компани:</strong> ` + ($json.company || \"?\") + `</td></tr><tr><td><strong>РД:</strong> ` + ($json.customer_tax_id || \"–\") + `</td></tr><tr><td><strong>Холбоо:</strong> ` + ($json.contact_name || \"?\") + ` · ` + ($json.phone || \"?\") + ` · ` + ($json.email || \"?\") + `</td></tr><tr><td><strong>Кемп:</strong> ` + ($json.camp_name || $json.camp || \"?\") + ` · ` + ($json.package_tier || $json.tier || \"?\") + ` · ` + ($json.guest_count || \"?\") + ` хүн</td></tr><tr><td><strong>Огноо:</strong> ` + ($json.start_datetime || \"?\") + ` → ` + ($json.end_datetime || \"?\") + `</td></tr><tr><td><strong>Тооцоосон НИЙТ:</strong> ` + ($json.grand_total || \"?\") + `₮</td></tr><tr><td><strong>Урьдчилгаа 30%:</strong> ` + ($json.deposit_30 || \"?\") + `₮</td></tr></table><div style=\"background:#FFF7E6;border-left:3px solid #C8A878;padding:12px 14px;margin:0 0 20px;font-size:12px;color:#5F5E5A;line-height:1.6;\"><strong>📋 Дараагийн алхам:</strong><br>1. Google Sheets-д орж шалгана уу<br>2. Шаардлагатай засваруудыг хийнэ<br>3. Бэлэн болсон үед доорх ИЛГЭЭХ товчийг дарна</div><div style=\"text-align:center;margin:20px 0;\"><a href=\"https://YOUR-N8N-DOMAIN.com/webhook/nomaad-quote-send?ts=` + encodeURIComponent($now.toISO()) + `\" style=\"display:inline-block;background:#2E3A28;color:#fff;padding:14px 32px;border-radius:6px;text-decoration:none;font-weight:600;font-size:14px;letter-spacing:0.5px;\">✓ ИЛГЭЭХ</a></div><p style=\"font-size:11px;color:#888780;margin:20px 0 0;border-top:1px solid #E8E2D2;padding-top:12px;\"><strong>Sheets:</strong> <a href=\"https://docs.google.com/spreadsheets/d/1ZaMvJ0DETDsN4D0juZz_1KnVqFpKsxdHDszF7EWQx0M/edit\" style=\"color:#C8A878;\">Quote log нээх</a></p></td></tr></table></body></html>` }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "gmail-internal",
      "name": "Gmail · Internal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sheets · Append raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Append raw": {
      "main": [
        [
          {
            "node": "Gmail · Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}